[Desktop Entry]
Encoding=UTF-8
Name=Last.fm
Comment=Listen to Last.fm radio
Exec=lastfm
Icon=lastfm
Terminal=false
Type=Application
Categories=Qt;Audio;AudioVideo;

